a{
    background-color: rgb(109, 109, 109);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px 25px;
    width: auto;
    display: inline-block;
    border-radius: 10px;
    transition: 0.2s;
}

a:hover{
    background-color: rgb(49, 49, 49);
}

.main{
    background-color: rgb(80, 80, 80);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px 25px;
    width: 100px;
    display: inline-block;
    border-radius: 10px;
}

.main-cont{
    background-color: rgb(80, 80, 80);
    box-shadow: 0px 10px 10px black;
    margin: 0px;
}


body{
    background-color: rgb(109, 109, 109);
    font-family: 'Consolas', onsolas, monospace;
    margin: 0px;
}

div{
    margin: 10px;
}